body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c {background-color: #000080;

}
.d { text-align: center; 
}
.e {color: #FFA500;

}
.f {color: #ADFF2F;

}
.g {color: white;

}
.x { height: 500px; }
.a {margin-right: 20px;}
.l {margin: none;
    padding: none;
    border: none}